<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About</title>
        <link rel="icon" href="/image/clouds.png">

        <link rel="stylesheet" href="/css/styles.css">

    </head>
    <body>
        <div class="main_container">

            {{>header}}
            <br>
            <img
                src="https://ca.slack-edge.com/T03FUFARX-URM8P3ALS-fcb81df5cdaa-512"
                class="my_pic">
            <br>
            <p>This is a weather application created using Node Js and Express Js with the help WeatherStack Api. And also we are using MapBox Api to get latitude and longitude of the location when end user simply enters the name.</p>

        </div>

        {{>footer}}

    </body>
</html>